*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI , sans-serif;
}

body{
  background: linear-gradient(to bottom, #f7f5f5, #df9696);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.game-box {
  background: #fff;
  border-radius: 20px;
  padding: 30px 25px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.icon{
  width: 60px;
  margin-bottom: 15px;
}
h1{
  font-size: 28px;
  color: #c44c69;
}
.subtitle {
  font-size: 14px;
  color: #6e6e6e;
  margin: 10px 0 20px;
}

label{
  display: block;
  margin-bottom: 6px;
  text-align: left;
  font-weight: bold;
  color: #555;
}
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 25px;
  font-size: 14px;
  transition: all 0.3s ease;
}
input:focus{
  outline: none;
  border-color: #c44c69;
  box-shadow: 0 0 10px rgba(196, 76, 105, 0.1);
}

.difficulty-title{
  text-align: left;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}
.difficulty-options{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.difficulty{
  background: #f1f1f1;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}
.difficulty:hover{
  background: #e0e0e0;
}
.difficulty.active {
  background-color: #c44c69;
  color: white;
}
.difficulty small {
  font-weight: normal;
  font-size: 12px;
}
#start-btn {
  background-color: #eca4b5;
  color: white;
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 16px;
  margin-top: 20px;
}
#start-btn:hover{
  background-color: #c44c69;
  transform: scale(1.05);
}

/* game board */
.game-board{
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  
}


.card {
  background-color: #ffffff;
  width: 80px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
}

.card.flipped {
  background-color: #ffd700;
}

.hidden {
  display: none;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.info-bar {
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.controls button {
  background-color: #c44c69;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.controls button:hover {
  background-color: #a73755;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}